{% extends './layout.html' %}

{% block title %}
新增图书
{%endblock%}

{% block head %}

{% endblock %}

{% block content %}
<form action="">
  <label for="name"></label>
  <input type="text" name="name">
  <input type="button" value="提交" id="js-btn">
</form>
{% endblock %}

{% block scripts %}

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="module">
  import Create from '/scripts/index.js';
  const create  = new Create();
  create.fn();
</script>
<script src="https://cdn.bootcss.com/systemjs/4.1.0/system.js"></script>
<script nomodule type="text/javascript">
  System.import("/scripts/index.js").then(function(_){
    var s = new _default();

  })
</script>
{% endblock %}